/* Kelvin Amalokwu 9007036 */

/* Root Element Styling */
html {font: normal normal normal 20px/1.5 verdana, sans-serif; background-color: white;}

/* Body Styling */
body {max-width: 1200px; margin: 0 auto; padding: 1rem; border: 0.2rem solid black;}



/* Aside Styling */
a:hover {color: red;}
li {list-style-type: none; }
a {text-decoration: none; color: blue; }

